<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VotingApplication3"
        tools:targetApi="31">
        <activity android:name=".SignUp" android:label="Sign up" android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".InstructionsPage" android:label="Instruction page" android:parentActivityName=".MainActivity">

        </activity>

<activity android:name=".Credentials" android:label="Credential" android:parentActivityName=".InstructionsPage">

</activity>

        <activity android:name=".HomePage" android:label="HomePage" android:parentActivityName=".Credentials">

        </activity>

        <activity android:name=".NAHalqa" android:label="HomePage" android:parentActivityName=".HomePage">

        </activity>

        <activity android:name=".PAHalqa" android:label="HomePage" android:parentActivityName=".HomePage">

        </activity>

        <activity android:name=".NABallotPaper" android:label="HomePage" android:parentActivityName=".NAHalqa">

        </activity>

        <activity android:name=".PABallotPaper" android:label="PAHalqa" android:parentActivityName=".PAHalqa">

        </activity>

        <activity android:name=".InfoPage" android:label="HomePage" android:parentActivityName=".HomePage">

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>